* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

/* CONFIGURAÇÃO DE LINKS GERAL */
a {
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-decoration: none; 
}

a:hover {
    color: gray;
}


/* CONFIGURAÇÃO DO HEADER */
header {
    width: 100%;
    height: 84px;
    background-color: #090909;
    padding-right: 10px;    
}

header ul {
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
}

header ul img {
    position: absolute;
    top: 0px;
    left: 20px;

    height: 12%;
}

header ul li {
    display: inline;
    margin-left: 20px;
    padding: 2px;
    
}

/*** CONFIGURAÇÕES DO MAIN ***/

/** Caroseul ***/
#carouselApresentacao img {
    width: 100%;
    height: 549px;

}

/** RESUMO ELJHAY **/
#aboutEljhay {
    width: 80%;

    padding-top: 20px;

    font-family: 'Merriweather', serif;


    text-align: center;
    margin: 0% auto;
}

#aboutEljhay h2 {
    color: #2CCCD3;
    font-weight: bold;
}


/* CONFIGURAÇÃO DO FOOTER */
footer {
    width: 100%;

    position:absolute;
    background-color: #090909;

    padding-top: 20px;

}

footer p, footer p a {
    color: #2CCCD3;
    font-size: 12px;
    text-align: center;
}




